{% extends "chats/base.html"%}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <a href="{% url 'chats:room_list' %}">Home</a>
            <h5 class="card-title">{{room.name}}</h5>

            <form method="post" action="{% url 'chats:request_comment' room.id %}">
                {% csrf_token %}
                <input type="text" name="text" />
                <button class="btn">Add Comment</button>
            </form>
        </div>
        {% for comment in room.comment_set.all %}
            <div>
                {{ comment.text }}
                <a href="{% url 'chats:delete_comment' comment.id %}">Delete</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
